:root {
    --header-hight: 70px;
    --nav-width: 120px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    overflow-x: auto;
    font-family: sans-serif;
    min-width: 240px;
}

header {
    height: var(--header-hight);
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.container {
    display: flex;
    height: calc(100vh - var(--header-hight));
}

nav {
    width: var(--nav-width);
    background: #eee;
}

article {
    flex: 1;
    padding: 20px;
    overflow: auto;
}